/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}

.dropdown-menu {
    transform: translate(0px, 5px);
}

.show .dropdown-menu {
    display: block !important;
}

.dropdown-item {

    &:hover {
        background-color: rgb(166, 235, 235);
    }
}

li.active {
    background-color: rgb(201, 155, 95);
}